<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style_accueil.css') }}"
        />
        <title>Accueil - Bon Voyage</title>
    </head>
    <body>
        <h1>Bienvenue sur Bon Voyage</h1>
        <ul class="menu-list">
            <li><a href="/periodicite">Gérer les Périodicités</a></li>
            <li>
                <a href="/type-production">Gérer les Types de Production</a>
            </li>
            <li><a href="/connexion" class="menu-item">Mon Profil</a></li>
        </ul>
    </body>
</html>
