<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style_accueil.css') }}"
        />
        <title>Connexion - Bon Voyage</title>
    </head>
    <header>
        <h1>Bonjour {{ emp[2] }} {{ emp[1] }}</h1>
        <nav class="menu-list">
            <a href="/offres">Gestion des Voyages</a>

            {% if emp[0] in resp %}

            <a href="/liste_emp" class="menu-item">Gérer mes employés</a>

            {% endif %}

            <a href="/deconnexion">Déconnexion</a>
        </nav>
    </header>
</html>
