<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Voyages disponibles</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style_accueil.css') }}"
        />
    </head>
    <body>
        <h1>{{ voyage.descriptif }}</h1>

        <p>
            Du {{ voyage.dateDebut }} au {{ voyage.dateFin }}<br />
            <strong>{{ voyage.prix }} € / personne</strong>
        </p>

        <h3>Étapes du voyage</h3>

        {% if voyage.etapes %}
        <ul>
            {% for e in voyage.etapes %}
            <li>
                <strong>{{ e[1] }}</strong> ({{ e[2] }})<br />
                {{ e[3] }} → {{ e[4] }}<br />
                du {{ e[5] }} au {{ e[6] }} {% if "emp" in session %}
                <br />
                {% if "emp" in session %}
                <p>
                    <a href="/voyage/{{ voyage.idVoy }}/etape/ajouter">
                        ➕ Ajouter une étape
                    </a>
                </p>
                {% endif %}
                <a href="/etape/{{ e[0] }}/edit">✏️ Modifier</a>
                <a
                    href="/etape/{{ e[0] }}/delete"
                    onclick="return confirm('Supprimer cette étape ?')"
                    >🗑️ Supprimer</a
                >
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Aucune étape définie pour ce voyage.</p>
        {% endif %}
    </body>
</html>
